
/*  general styles  */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;/*  16px = 62.5%= 1rem  */ 
  background-color: black;
}
body {
  font: 1.6rem helvetica;
  color: wheat;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
.grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr auto;
}

/*  header styling  */
.header {
   
} 
/*  main seciton styling  */ 
.cities-div {
  min-height: 12rem;
}
.icon-size {
 font-size: 8rem;
}
.icon-size-forecast {
  font-size: 5rem;
}
.weekly-forecast {
  display: flex;
  justify-content: space-between;
}
/*  footer styling  */ 
.footer {
  
}